<section class="footer level">
    <div class="level-item">
        <img class="stacked" src="img/arc-stacked.png" alt="Australian Research Council logo" />
    </div>
    <div class="level-item"><img class="stacked" src="img/coedl-stacked.png" alt="Centre of Excellence for the Dynamics of Language logo" />
    </div>
    <div class="level-item">
        <img class="stacked" src="img/uq-logo-stacked.png" alt="University of Queensland logo" />
    </div>
    <div class="level-item">
        <img class="stacked" src="img/nglc-logo-stacked.gif" alt="Ngukurr Language Centre logo" />
    </div>
</section>