<p class="has-margin-bottom-1">
Opie Robots bring digital language resources to life and excite children about Indigenous culture.
</p>
<p>
They provide language activities in the form of interactive stories, words games and pronunciation practice. It’s a new technology for the world’s oldest languages, supporting language revival, and growing digital literacy around cultural knowledge.
</p>