{{ partial "header.html" . }}

<body class="home-template no-show-structure">
    <section class="hero is-bold is-warning ">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-three-fifths">
                        <div class="title">
                            <h1>{{ .Site.Title}}</h1>
                        </div>
                        <div class="subtitle">
                            {{ if .Site.Params.description }}
                            <h2 class="blog-description">{{ .Site.Params.description }}</h2> {{ end }}
                        </div>
                    </div>
                    <div class="column">
                        <img class="img-fluid mx-auto" src="img/opie-clipped-trans.png" alt="Opie the robot">
                    </div>
                </div>
            </div>
    </section>

    <div class="section columns home-1">
        <div class="column is-8 is-offset-2">
          {{ partial "home-1.html" }}
        </div>
    </div>

    <div class="section columns home-2">
        <div class="column is-2 is-offset-2">
          <img class="img-fluid mx-auto" src="img/ngukurr-opie.jpg" alt="Hands pointing to Opie's tummy tablet" />
        </div>
        <div class="column is-6">
          {{ partial "home-2.html" }}
        </div>
    </div>

    <div class="section columns home-3 is-paddingless">
        <div class="column is-half is-offset-one-quarter is-paddingless">
            <img class="img-fluid mx-auto" src="img/opie-mob.jpg" alt="">
            <p class="caption">Members of the Ngukurr Language Centre with University of Queensland Social Robot Lab engineers. Photo by Shaina Russell.</p>
        </div>
    </div>

    <div class="section columns home-4">
        <div class="column is-half is-offset-one-quarter">
          {{ partial "home-4.html" }}
        </div>
    </div>

    {{ partial "footer.html" .}}
    {{ partial "script.html" .}}
</body>

</html>